
VITE_SUPABASE_URL=https://supabase.scghub.com
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogImFub24iLAogICJpc3MiOiAic3VwYWJhc2UiLAogICJpYXQiOiAxNzM0NzM1NjAwLAogICJleHAiOiAxODkyNTAyMDAwCn0.9JOmP0MmkdmmDExRhuBRGsxojlv77pfnYS8Q7YXCMJc